@font-face {
  font-family: "Tajawal";
  src: url('#{$font-path}/Tajawal/Tajawal-Bold.eot');
  src: local('?'),
  url('#{$font-path}/Tajawal/Tajawal-Bold.woff') format('woff'),
  url('#{$font-path}/Tajawal/Tajawal-Bold.ttf') format('truetype'),
  url('#{$font-path}/Tajawal/Tajawal-Bold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url('#{$font-path}/Tajawal/Tajawal-Medium.eot');
  src: local('?'),
  url('#{$font-path}/Tajawal/Tajawal-Medium.woff') format('woff'),
  url('#{$font-path}/Tajawal/Tajawal-Medium.ttf') format('truetype'),
  url('#{$font-path}/Tajawal/Tajawal-Medium.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url('#{$font-path}/Tajawal/Tajawal-Regular.eot');
  src: local('?'),
  url('#{$font-path}/Tajawal/Tajawal-Regular.woff') format('woff'),
  url('#{$font-path}/Tajawal/Tajawal-Regular.ttf') format('truetype'),
  url('#{$font-path}/Tajawal/Tajawal-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Tajawal";
  src: url('#{$font-path}/Tajawal/Tajawal-Light.eot');
  src: local('?'),
  url('#{$font-path}/Tajawal/Tajawal-Light.woff') format('woff'),
  url('#{$font-path}/Tajawal/Tajawal-Light.ttf') format('truetype'),
  url('#{$font-path}/Tajawal/Tajawal-Light.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: "Poppins";
  src:url('#{$font-path}/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:url('#{$font-path}/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:url('#{$font-path}/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:url('#{$font-path}/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/material-icons/MaterialIconsRound-Regular.woff2') format('woff2');
}


.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
